body {
      text-align: center;
      background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,purple);
      color: white;
}

h1 {
    color: white;
    
}

#mar {
     height: 100px;
     width: 100%;
     background-image: linear-gradient(to bottom right, blue, red);
}

img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

input {
    background-color: coral;
    color: wheat;
    border-radius: 10%;
}

#boy {
    color: white;
}

#girl {
     color: white;
}

marquee {
    color: goldenrod;
    font-size:100px;
    font-weight: 1000;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 30000;
    right: 0;
  }

  .button:hover {
    background-color: green;
    color: white;
  }
